@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme inline {
  --color-background: #FFFFFF;
  --color-primary-text: #111827;
  --color-secondary-text: #6B7280;
  --color-border-color: #E5E7EB;
  --color-success: #10B981;
  --color-error: #EF4444;

  --font-sans: var(--font-inter);
}

:root {
  --background: #FFFFFF;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom map container adjustments */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for premium feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
